.advantages-packed {
  @include list-style;
  background-color: #eeeeee;
}

.advantages-packed__item {
  position: relative;
  padding: 26px 32px 24px;
  box-sizing: border-box;
}

@media (max-width: $mobile-breakpoint) {
  .advantages-packed__item br {
    display: none;
  }

  .advantages-packed__item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

@media (min-width: $tablet-width) {
  .advantages-packed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages-packed__item {
    width: 256px;
    min-height: 256px;
    padding: 42px 40px 41px;
  }

  @media (max-width: $tablet-breakpoint) {
    .advantages-packed__item:nth-of-type(2) {
      padding-left: 56px;
      padding-right: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages-packed__item {
    width: 400px;
    padding: 43px 40px 62px;
  }
}
