.benefits {
  @include list-style;
  padding-top: 25px;
  padding-bottom: 12px;
  color: $basic-black;
  background-color: $basic-white;
}

.benefits__item {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 65px;
  padding-right: 35px;
  text-align: left;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--house {
    &::before {
      top: -10px;
      left: 17px;
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    &::before {
      top: -10px;
      left: 20px;
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    &::before {
      top: -3px;
      left: 15px;
      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");
    }
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
}

.benefits__description {
  margin: 0;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    width: 100%;
    min-height: 270px;
    padding-top: 60px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  .benefits__item {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--house {
      &::before {
        width: 75px;
        height: 72px;
        background-image: url("../img/icon-house.svg");
      }
    }

    &--souvenirs {
      order: 2;

      &::before {
        width: 64px;
        height: 75px;
        background-image: url("../img/icon-gift.svg");
      }
    }

    &--food {
      &::before {
        width: 76px;
        height: 68px;
        background-image: url("../img/icon-burger.svg");
      }
    }
  }

  .benefits__title {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .benefits {
    padding-bottom: 60px;
  }

  .benefits__item {
    padding-left: 50px;
    padding-right: 50px;
  }
}
