.benefits {
  @include list-style;
  color: $basic-black;
  background-color: $basic-white;
}

.benefits__item {
  margin: 0;
  position: relative;
  width: 240px;
  padding-left: 52px;
  text-align: left;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--house {
    margin-top: 35px;
    margin-bottom: 26px;
    &::before {
      width: 39px;
      height: 37px;
      background-image: url("../img/icon-house.svg");
    }
  }

  &--souvenirs {
    margin-bottom: 26px;
    &::before {
      width: 32px;
      height: 38px;
      background-image: url("../img/icon-gift.svg");
    }
  }

  &--food {
    margin-bottom: 35px;
    &::before {
      width: 40px;
      height: 35px;
      background-image: url("../img/icon-burger.svg");
    }
  }
}

.benefits__title {
  margin: 0;
  font-weight: 700;
}

.benefits__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    width: 100%;
    min-height: 270px;
    margin-top: 57px;
    margin-bottom: 59px;
  }

  .benefits__item {
    position: relative;
    width: 100%;
    padding-top: 95px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--house {
      &::before {
        width: 75px;
        height: 72px;
        background-image: url("../img/icon-house.svg");
      }
    }

    &--souvenirs {
      order: 2;

      &::before {
        width: 64px;
        height: 75px;
        background-image: url("../img/icon-gift.svg");
      }
    }

    &--food {
      &::before {
        width: 76px;
        height: 68px;
        background-image: url("../img/icon-burger.svg");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
