.button {
  @include bold-font-style;
  @include blue-white-mix;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $basic-blue;
  }

  &:active {
    color: rgba(#ffffff, 0.3%);
    background-color: $basic-dark-blue;
  }
}
