.button {
  @include bold-font-style;
  @include blue-white-mix;
  padding: 15px 32px 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);

  &:hover,
  &:focus {
    background-color: $basic-blue;
  }

  &:active {
    color: rgba($basic-white, 0.3%);
    background-color: $basic-dark-blue;
  }
}
