.card__pic {
  margin-bottom: 4px;
}

.card__folder {
  text-align: left;
}

.card__description {
  margin-bottom: 10px;
}

.card__caption {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.card__author {
  margin: 0;
  text-transform: none;
}

.card__likes {
  display: flex;
  align-items: baseline;
}

.card__like {
  display: inline-block;
  width: 23px;
  height: 21px;
  fill: $basic-black;
  opacity: 0.3;
}

.card__number {
  margin: 0;
  padding-left: 14px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .card__folder {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px;
    background-color: $basic-light;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-breakpoint) {
    .card {
      &:nth-of-type(3) .card__folder {
        background-color: #eaeaea;
      }
    }
  }

  .card__pic {
    display: block;
    width: 324px;
    height: 267px;
    margin: 0;
    object-fit: cover;

    &--main {
      width: 100%;
      height: 400px;
    }
  }

  .card__likes {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .card {
    position: relative;
  }

  .card__folder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $basic-white;
    background-color: rgba($basic-black, 0.3%);
  }

  .card__pic {
    width: 400px;
    &--main {
      width: 100%;
    }
  }

  .card__like {
    opacity: 1;
    fill: $basic-white;
  }
}
