.card {
  position: relative;
  font-size: 14px;
}

.card__folder {
  text-align: left;
}

.card__caption {
  margin: 0;
  font-weight: 700;
}

.card__author {
  margin: 0;
  text-transform: none;
}

.card__likes {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  @media (max-width: $tablet-width) {
    .card {
      &:nth-of-type(3) .card__folder {
        background-color: #eaeaea;
      }
    }
  }

  .card__folder {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: $basic-light;
    box-sizing: border-box;
  }

  .card__link {
    display: flex;
  }

  .card__pic {
    width: 324px;
    height: 267px;
    object-fit: cover;

    &--main {
      width: 100%;
      height: 400px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__folder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: $basic-white;
    background-color: rgba($basic-black, 0.3%);
  }

  .card__pic {
    width: 400px;
    &--main {
      width: 100%;
    }
  }
}
