.card {
  position: relative;
  font-size: 14px;
}

.card__caption {
  font-weight: 700;
}

.card__author {
  text-transform: none;
}

.card__likes {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .card__description {
    justify-content: space-between;
    background-color: $basic-light;
  }
}

@media (min-width: $desktop-width) {
  .card__description {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    background-color: transparent;
  }
}
