.gallery {
  padding-bottom: 33px;
}

.gallery__list {
  @include list-style;
}

@media (max-width: $mobile-breakpoint) {
  .gallery {
    padding: 0 15px;
  }

  .gallery__item {
    position: relative;
    padding: 22px 0 15px;

    &::before,
    &:last-of-type::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
    }

    &::before {
      top: 0;
    }

    &:last-of-type::after {
      bottom: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 55px 25px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  .gallery__item {
    &--main {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0 0 55px;
  }

  .gallery__list {
    grid-template-columns: 400px 400px 400px;
  }
}
