.hotel-reservation {
  padding: 33px 15px 63px;
  box-sizing: border-box;
}

.hotel-reservation__title {
  @include bold-font-style;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-reservation__text {
  margin: 0;
  margin-bottom: 40px;
}

.hotel-reservation__button {
  padding: 15px 45px;
}

@media (min-width: $tablet-width) {
  .hotel-reservation {
    padding-top: 58px;
    padding-bottom: 65px;
  }

  .hotel-reservation__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .hotel-reservation__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .hotel-reservation__button {
    padding: 15px 132px;
  }
}

@media (min-width: $desktop-width) {
  .hotel-reservation {
    padding-top: 55px;
    padding-bottom: 74px;
  }

  .hotel-reservation__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 55px;
  }
}
