@media (max-width: $mobile-width) {
  .main-header {
    position: relative;
    padding-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
    }

    &--form {
      padding-bottom: 3px;
    }
  }
}

.main-header__logo {
  position: relative;
  width: 100%;
  height: 389px;
  margin-bottom: 32px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: "";
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }

  &--form,
  &--photo {
    height: 158px;
  }

  &--form {
    margin-bottom: 35px;
  }
}

.main-header__icon {
  width: 282px;
  height: 214px;
  margin-top: 90px;

  &--form,
  &--photo {
    width: 229px;
    height: 39px;
    margin-top: 50px;
  }
}

.main-header__heading {
  width: 285px;
  margin: 0 auto;
}

.main-header__title {
  @include heading-font-style;
  margin: 0;
  margin-bottom: 30px;
}

.main-header__intro {
  margin: 0;

  &--form {
    line-height: 24px;
  }

  &--photo {
    line-height: 23px;
    margin-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    &--photo {
      padding-bottom: 65px;
    }

    &--form {
      padding-bottom: 47px;
    }
  }
  .main-header br {
    display: none;
  }

  .main-header__logo {
    position: relative;
    height: 518px;
    margin-bottom: 44px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      bottom: -1px;
      left: 50%;
      width: $tablet-width;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    &--form,
    &--photo {
      height: 290px;
    }

    &--photo {
      margin-bottom: 65px;
    }

    &--form {
      margin-bottom: 70px;
    }
  }

  .main-header__icon {
    &--form,
    &--photo {
      width: 457px;
      height: 78px;
      margin-top: 95px;
    }
  }

  .main-header__heading {
    width: 600px;
    margin: 0 auto;

    &--photo {
      width: 460px;
    }

    &--form {
      width: 435px;
    }
  }

  .main-header__title {
    margin-bottom: 30px;
    font-size: 21px;

    &--form,
    &--photo {
      font-size: 30px;
    }
  }

  .main-header__intro {
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    &--photo {
      padding-bottom: 45px;
    }

    &--form {
      padding-bottom: 25px;
    }
  }

  .main-header__logo {
    position: relative;
    margin-bottom: 55px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &::after {
      bottom: -2px;
      width: $desktop-width;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }

    &--form,
    &--photo {
      height: 300px;

    }

    &--photo {
      margin-bottom: 100px;
    }

    &--form {
      margin-bottom: 115px;
    }
  }

  .main-header__intro {
    margin-bottom: 41px;
  }
}
