.main-nav__list {
  @include list-style;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  @include blue-white-mix;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $basic-blue;
  }

  &:active {
    color: rgba($basic-white, 0.3%);
    background-color: $basic-dark-blue;
  }
}
