.main-header {
  position: relative;
  padding-top: 389px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 389px;
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
  }
}

.main-header__title {
  font-weight: 700;
}
