.page-footer {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 26px;
}

.page-footer__intro {
  @include bold-font-style;
  margin: 0;
  margin-bottom: 33px;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 54px 26px 59px;
  }

  .page-footer__intro {
    align-self: center;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 26px 120px;
  }
}
