@media (max-width: $mobile-breakpoint) {
  .page-form__fieldset {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 1px;
      background-color: $basic-light-grey;
    }
  }

  .page-form__edit {
    display: none;
  }
}

.page-form__submit {
  border: none;
  margin-bottom: 46px;
  padding: 17px 52px 15px 46px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 55px 10px;
  }

  .page-form__fieldset {
    position: relative;
    text-align: left;

    &--introduction {
      margin-left: auto;
    }

    &--impression {
      order: -1;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 292px;
        background-color: #dbdbdb;
      }
    }

    &--contacts,
    &--attractions,
    &--message {
      grid-column: 1 / -1;
    }

    &--contacts,
    &--attractions,
    &--message {
      &::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        width: 648px;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -1;
      }
    }
  }

  .page-form__edit {
    margin-left: auto;
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    padding: 0 115px 20px;
  }
  .page-form__fieldset {
    &--contacts,
    &--attractions,
    &--message {
      &::before {
        width: 960px;
      }
    }
  }
}
