@media (max-width: $mobile-breakpoint) {
  .page-form__edit {
    display: none;
  }
}

.page-form__submit {
  border: none;
  margin-bottom: 46px;
  padding: 17px 52px 15px 46px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 20px;
  }

  .page-form__fieldset {
    position: relative;
    text-align: left;

    &--introduction {
      margin-left: auto;
    }

    &--impression {
      order: -1;
    }

    &--contacts,
    &--attractions,
    &--message {
      grid-column: 1 / -1;
    }
  }

  .page-form__edit {
    margin-top: 17px;
    margin-left: auto;
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .page-form {
    padding: 0 120px 30px;
  }
}
