.social {
  margin-bottom: 45px;
}

.social__title {
  @include bold-font-style;
  margin-bottom: 33px;
  text-decoration: none;
  color: $basic-black;
}

.social__list {
  @include list-style;
  display: flex;
}

.social__item {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: $basic-light-blue;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 6px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $basic-blue;
  }

  &:active {
    background-color: $basic-dark-blue;
    &::before {
      opacity: 0.3;
    }
  }

  &--twitter::before {
    width: 18px;
    height: 15px;
    background-image: url("../../img/icon-twitter.svg");
  }

  &--facebook::before {
    width: 9px;
    height: 19px;
    background-image: url("../../img/icon-facebook.svg");
  }

  &--youtube::before {
    width: 20px;
    height: 14px;
    background-image: url("../../img/icon-youtube.svg");
  }
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
    margin: 0;
    margin-right: 105px;
  }

  .social__title {
    margin: 0;
    margin-right: 97px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    display: flex;
    margin: 0;
    margin-right: 261px;
  }

  .social__title {
    margin: 0;
    margin-right: 254px;
  }
}
