.social__title {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  color: $basic-black;
}

.social__list {
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $basic-light-blue;
}
