/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 540px; }

*::before,
*::after {
  box-sizing: border-box; }

@media (min-width: 768px) {
  .container {
    max-width: 890px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2); } }

.page {
  height: 100%; }

.page__body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: space-between;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  overflow-x: auto; }

.button {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2); }
  .button:hover, .button:focus {
    background-color: #669ec0; }
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.page-header {
  position: relative; }
  @media (max-width: 767px) {
    .page-header {
      padding-bottom: 50px; } }

.page-header__logo {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }
  @media (max-width: 767px) {
    .page-header__logo {
      top: auto;
      bottom: -42px; } }

.page-header__logo img {
  width: 102px;
  height: 84px; }

@media (min-width: 1200px) {
  .page-header__logo img {
    width: 187px;
    height: 96px; } }

.main-nav {
  position: relative;
  width: auto; }

.main-nav__toggle {
  display: block;
  position: absolute;
  border: none;
  width: 23px;
  height: 22px;
  background-color: transparent;
  outline: none; }

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 14px; }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
  .main-nav--closed .main-nav__toggle:hover::before, .main-nav--closed .main-nav__toggle:focus::before {
    background-color: rgba(129, 179, 210, 0.6);
    box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.6), 0 16px 0 0 rgba(129, 179, 210, 0.6); }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(129, 179, 210, 0.3);
    box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3); }

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 10px; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    transform: rotate(45deg);
    width: 23px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:hover::before, .main-nav--opened .main-nav__toggle:hover::after, .main-nav--opened .main-nav__toggle:focus::before, .main-nav--opened .main-nav__toggle:focus::after {
    background-color: rgba(255, 255, 255, 0.6); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none; }

.main-nav--opened {
  position: relative;
  bottom: 0;
  left: 0; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  margin: 0;
  padding: 0; }

.main-nav__link {
  color: #ffffff;
  background-color: #81b3d2;
  display: block;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  box-sizing: border-box; }

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--opened::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%); }
  .main-nav__link[href]:hover, .main-nav__link[href]:focus {
    background-color: #669ec0; }
  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; } }

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 30px; }
  .main-nav__link {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff; }
    .main-nav__link:hover, .main-nav__link:focus {
      color: #81b3d2;
      background-color: transparent; }
    .main-nav__link:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: transparent; }
    .main-nav__link--active {
      color: #766357;
      background-color: transparent; }
      .main-nav__link--active:hover, .main-nav__link--active:focus {
        color: #604e43;
        background-color: transparent; }
      .main-nav__link--active:active {
        color: rgba(118, 99, 87, 0.3);
        background-color: transparent; }
  .main-nav__item:first-of-type {
    margin-right: 47px; }
  .main-nav__item:nth-of-type(2) {
    margin-right: 179px; }
  .main-nav__item:nth-of-type(3) {
    margin-right: 19px; } }

@media (min-width: 1200px) {
  .main-nav__list {
    padding-left: 90px;
    padding-right: 70px; }
  .main-nav__item:first-of-type {
    margin-right: 132px; }
  .main-nav__item:nth-of-type(2) {
    margin-right: 352px; }
  .main-nav__item:nth-of-type(3) {
    margin-right: 107px; } }

@media (max-width: 767px) {
  .main-header {
    position: relative;
    padding-bottom: 15px; }
    .main-header::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 37px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat; }
    .main-header--form {
      padding-bottom: 3px; } }

.main-header__logo {
  position: relative;
  width: 100%;
  height: 389px;
  margin-bottom: 32px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat; }
  .main-header__logo::after {
    position: absolute;
    content: "";
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 57px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat; }
  .main-header__logo--form, .main-header__logo--photo {
    height: 158px;
    background-position: bottom; }
  .main-header__logo--form {
    margin-bottom: 35px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .main-header__logo {
      background-image: url("../img/bg-back-mobile@2x.jpg"); } }

.main-header__icon {
  width: 282px;
  height: 214px;
  margin-top: 90px; }
  .main-header__icon--form, .main-header__icon--photo {
    width: 229px;
    height: 39px;
    margin-top: 50px; }

.main-header__heading {
  width: 285px;
  margin: 0 auto; }

.main-header__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px; }

.main-header__intro {
  margin: 0; }
  .main-header__intro--form {
    line-height: 24px; }
  .main-header__intro--photo {
    line-height: 23px;
    margin-bottom: 17px; }

@media (min-width: 768px) {
  .main-header--photo {
    padding-bottom: 65px; }
  .main-header--form {
    padding-bottom: 47px; }
  .main-header br {
    display: none; }
  .main-header__logo {
    position: relative;
    height: 518px;
    margin-bottom: 44px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .main-header__logo::after {
      bottom: -1px;
      width: 768px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"); }
    .main-header__logo--form, .main-header__logo--photo {
      height: 290px; }
    .main-header__logo--photo {
      margin-bottom: 65px; }
    .main-header__logo--form {
      margin-bottom: 70px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .main-header__logo {
      background-image: url("../img/bg-back-tablet@2x.jpg"); } }

@media (min-width: 768px) {
  .main-header__icon {
    width: 461px;
    height: 350px; }
    .main-header__icon--form, .main-header__icon--photo {
      width: 457px;
      height: 78px;
      margin-top: 95px; }
  .main-header__heading {
    width: 600px;
    margin: 0 auto; }
    .main-header__heading--photo {
      width: 460px; }
    .main-header__heading--form {
      width: 435px; }
  .main-header__title {
    margin-bottom: 30px;
    font-size: 21px; }
    .main-header__title--form, .main-header__title--photo {
      font-size: 30px; }
  .main-header__intro {
    margin-bottom: 53px; } }

@media (min-width: 1200px) {
  .main-header--photo {
    padding-bottom: 45px; }
  .main-header--form {
    padding-bottom: 25px; }
  .main-header__logo {
    position: relative;
    margin-bottom: 55px;
    background-image: url("../img/bg-back-desktop@1x.jpg"); }
    .main-header__logo::after {
      bottom: -2px;
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg"); }
    .main-header__logo--form, .main-header__logo--photo {
      height: 300px; }
    .main-header__logo--photo {
      margin-bottom: 100px; }
    .main-header__logo--form {
      margin-bottom: 115px; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
    .main-header__logo {
      background-image: url("../img/bg-back-desktop@2x.jpg"); } }

@media (min-width: 1200px) {
  .main-header__intro {
    margin-bottom: 41px; } }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.advantages__item {
  margin: 0; }

.advantages__picture {
  display: block;
  height: 260px; }

.advantages__folder {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 39px 16px 33px 15px;
  box-sizing: border-box; }

@media (max-width: 767px) {
  .advantages__item:last-of-type {
    margin-top: -6px; }
  .advantages__item--unpacked:first-of-type .advantages__folder {
    padding: 70px 12px 39px 13px; } }

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 7px; }

.advantages__number {
  margin: 0;
  margin-bottom: 15px; }

.advantages__description {
  margin: 0;
  line-height: 22px; }

@media (min-width: 768px) {
  .advantages__list {
    display: grid; }
  .advantages__item {
    width: 768px; }
    .advantages__item--unpacked {
      display: flex; }
  .advantages__picture {
    width: 512px;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover; }
  .advantages__folder {
    width: 256px;
    min-height: 256px;
    padding: 41px 32px; }
  .advantages__title {
    margin-bottom: 10px;
    font-size: 21px; }
  .advantages__number {
    margin-bottom: 20px; }
  .advantages__folder--bridge {
    order: 2; } }

@media (min-width: 1200px) {
  .advantages__item {
    width: 1200px; }
  .advantages__picture {
    width: 800px; }
  .advantages__folder {
    width: 400px;
    min-height: 256px;
    padding: 47px 52px 57px 53px; }
  .advantages__title {
    width: 150px;
    margin-left: auto;
    margin-right: auto; } }

.benefits {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 12px;
  color: #000000;
  background-color: #ffffff; }

.benefits__item {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 65px;
  padding-right: 35px;
  text-align: left; }
  .benefits__item::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: cover; }
  .benefits__item--house::before {
    top: -10px;
    left: 17px;
    width: 39px;
    height: 37px;
    background-image: url("../img/house.svg"); }
  .benefits__item--souvenirs::before {
    top: -10px;
    left: 20px;
    width: 32px;
    height: 38px;
    background-image: url("../img/gift.svg"); }
  .benefits__item--food::before {
    top: -3px;
    left: 15px;
    width: 40px;
    height: 35px;
    background-image: url("../img/burger.svg"); }

.benefits__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px; }

.benefits__description {
  margin: 0;
  line-height: 21px; }

@media (min-width: 768px) {
  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    width: 100%;
    min-height: 270px;
    padding-top: 60px;
    padding-bottom: 35px;
    box-sizing: border-box; }
  .benefits__item {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    box-sizing: border-box; }
    .benefits__item::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat;
      background-size: cover; }
    .benefits__item--house::before {
      width: 75px;
      height: 72px; }
    .benefits__item--souvenirs {
      order: 2; }
      .benefits__item--souvenirs::before {
        width: 64px;
        height: 75px; }
    .benefits__item--food::before {
      width: 76px;
      height: 68px; }
  .benefits__title {
    margin-bottom: 22px; } }

@media (min-width: 1200px) {
  .benefits {
    padding-bottom: 60px; }
  .benefits__item {
    padding-left: 50px;
    padding-right: 50px; } }

.advantages-packed {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee; }

.advantages-packed__item {
  position: relative;
  padding: 25px 26px 24px 26px; }

@media (max-width: 767px) {
  .advantages-packed__item br {
    display: none; }
  .advantages-packed__item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 1px;
    background-color: #d6d6d6; } }

@media (min-width: 768px) {
  .advantages-packed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .advantages-packed__item {
    width: 256px;
    min-height: 256px;
    padding: 42px 48px 41px 46px;
    box-sizing: border-box; } }

@media (min-width: 1200px) {
  .advantages-packed__item {
    width: 400px;
    padding: 43px 40px 62px; } }

.hotel-reservation {
  padding: 33px 15px 63px;
  box-sizing: border-box; }

.hotel-reservation__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px; }

.hotel-reservation__text {
  margin: 0;
  margin-bottom: 40px; }

.hotel-reservation__button {
  padding: 15px 45px; }

@media (min-width: 768px) {
  .hotel-reservation {
    padding-top: 58px;
    padding-bottom: 65px; }
  .hotel-reservation__title {
    margin-bottom: 30px;
    font-size: 30px; }
  .hotel-reservation__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .hotel-reservation__button {
    padding: 15px 132px; } }

@media (min-width: 1200px) {
  .hotel-reservation {
    padding-top: 55px;
    padding-bottom: 74px; }
  .hotel-reservation__text {
    width: 435px;
    margin: 0 auto;
    margin-bottom: 55px; } }

.map__image {
  width: 100%;
  height: 350px; }

@media (max-width: 767px) {
  .page-form__fieldset {
    position: relative; }
    .page-form__fieldset::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 1px;
      background-color: #e5e5e5; }
  .page-form__edit {
    display: none; } }

.page-form__submit {
  border: none;
  margin-bottom: 46px;
  padding: 17px 52px 15px 46px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .page-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px 10px; }
  .page-form__fieldset {
    position: relative;
    text-align: left; }
    .page-form__fieldset--introduction {
      margin-left: auto; }
    .page-form__fieldset--impression {
      order: -1; }
      .page-form__fieldset--impression::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 292px;
        background-color: #dbdbdb; }
    .page-form__fieldset--contacts, .page-form__fieldset--attractions, .page-form__fieldset--message {
      grid-column: 1 / -1; }
      .page-form__fieldset--contacts::before, .page-form__fieldset--attractions::before, .page-form__fieldset--message::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        width: 648px;
        height: 1px;
        background-color: #dbdbdb;
        z-index: -1; }
  .page-form__edit {
    margin-left: auto;
    font-size: 14px; } }

@media (min-width: 1200px) {
  .page-form {
    padding: 0 120px 20px; }
  .page-form__fieldset--contacts::before, .page-form__fieldset--attractions::before, .page-form__fieldset--message::before {
    width: 960px; } }

.fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 20px 14px;
  text-align: left;
  box-sizing: border-box; }
  .fieldset--introduction {
    padding-bottom: 25px; }
  .fieldset--contacts {
    padding-bottom: 28px; }
  .fieldset--impression {
    padding-bottom: 41px; }
  .fieldset--attractions {
    padding-bottom: 39px; }
  .fieldset--message {
    margin-bottom: 30px; }

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .fieldset__list--introduction {
    display: flex;
    flex-wrap: wrap; }
    .fieldset__list--introduction .fieldset__item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%; }
      .fieldset__list--introduction .fieldset__item:not(:last-of-type) {
        margin-bottom: 20px; }
  .fieldset__list--contacts .fieldset__item:not(:last-of-type) {
    margin-bottom: 14px; }
  .fieldset__list--impression .fieldset__item:not(:last-of-type) {
    margin-bottom: 43px; }
  .fieldset__list--attractions .fieldset__item:not(:last-of-type) {
    margin-bottom: 54px; }

.fieldset__name {
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  text-align: center; }
  .fieldset__name--impression {
    margin-bottom: 18px; }
  .fieldset__name--attractions {
    padding-top: 15px;
    margin-bottom: 17px; }

.fieldset__label {
  font-size: 18px;
  color: #333333; }
  .fieldset__label--introduction, .fieldset__label--contacts {
    font-size: 14px; }
  .fieldset__label--radio, .fieldset__label--checkbox {
    position: relative;
    font-weight: 700;
    text-transform: none;
    cursor: pointer; }
    .fieldset__label--radio::before, .fieldset__label--checkbox::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #f2f2f2; }
  .fieldset__label--radio {
    padding-left: 76px; }
    .fieldset__label--radio::before {
      left: 3px;
      width: 48px;
      height: 48px;
      border-radius: 50%; }
  .fieldset__label--checkbox {
    padding-left: 76px; }
    .fieldset__label--checkbox::before {
      width: 46px;
      height: 46px; }

.fieldset__input {
  height: 58px;
  border: 4px solid transparent;
  padding: 18px 22px 14px;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  outline: none; }
  .fieldset__input::-moz-placeholder {
    color: #000000; }
  .fieldset__input::placeholder {
    color: #000000; }
  .fieldset__input:hover {
    background-color: #e5e5e5; }
  .fieldset__input:focus, .fieldset__input:active {
    border: 4px solid #e5e5e5;
    background-color: #ffffff; }
  .fieldset__input--firstname, .fieldset__input--lastname, .fieldset__input--patronymic {
    margin-left: 8px;
    width: 100%; }
  .fieldset__input--phone, .fieldset__input--email {
    width: 100%;
    border-right: none;
    margin-top: 5px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 58px 58px; }
    .fieldset__input--phone:focus, .fieldset__input--phone:active, .fieldset__input--email:focus, .fieldset__input--email:active {
      border-right: none; }
  .fieldset__input--phone {
    margin-top: 10px;
    background-image: url("../img/phone.svg"); }
  .fieldset__input--email {
    background-image: url("../img/mail.svg"); }
  .fieldset__input--message {
    width: 100%;
    min-height: 160px;
    margin-top: -3px;
    padding: 13px 21px; }

.fieldset__radio:checked + .fieldset__label--radio::before {
  background-image: url("../img/radio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px; }

.fieldset__radio:hover + .fieldset__label--radio::before,
.fieldset__radio:focus + .fieldset__label--radio::before,
.fieldset__radio:checked:hover + .fieldset__label--radio::before,
.fieldset__radio:checked:focus + .fieldset__label--radio::before {
  background-color: #e5e5e5; }

.fieldset__radio:active + .fieldset__label--radio::before,
.fieldset__radio:checked:active + .fieldset__label--radio::before {
  background-color: #d5d5d5; }

.fieldset__checkbox:checked + .fieldset__label--checkbox::before {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 16px; }

.fieldset__checkbox:hover + .fieldset__label--checkbox::before,
.fieldset__checkbox:focus + .fieldset__label--checkbox::before,
.fieldset__checkbox:checked:hover + .fieldset__label--checkbox::before,
.fieldset__checkbox:checked:focus + .fieldset__label--checkbox::before {
  background-color: #e5e5e5; }

.fieldset__checkbox:active + .fieldset__label--checkbox::before,
.fieldset__checkbox:checked:active + .fieldset__label--checkbox::before {
  background-color: #d5d5d5; }

@media (min-width: 768px) {
  .fieldset {
    margin: 0;
    padding: 0; }
    .fieldset--introduction {
      padding-bottom: 55px;
      padding-left: 58px;
      text-align: right; }
    .fieldset--contacts {
      padding-bottom: 36px; }
    .fieldset--attractions {
      padding: 0 100px 10px; }
    .fieldset--message {
      padding-bottom: 60px; }
  .fieldset__list--attractions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 64px;
         column-gap: 64px; }
  .fieldset__name {
    font-size: 21px; }
    .fieldset__name--introduction {
      margin-bottom: 54px; }
    .fieldset__name--impression {
      margin-bottom: 74px; }
    .fieldset__name--contacts, .fieldset__name--attractions, .fieldset__name--message {
      padding-left: 50px;
      padding-right: 50px;
      background-color: #ffffff; }
    .fieldset__name--contacts {
      margin-bottom: 20px; }
    .fieldset__name--attractions {
      width: 308px;
      margin-bottom: 58px;
      padding-top: 16px; }
    .fieldset__name--message {
      margin-bottom: 60px; }
  .fieldset__label--contacts:first-of-type {
    margin-bottom: 25px; }
  .fieldset__label--radio:not(:last-of-type) {
    margin-bottom: 52px; } }

@media (min-width: 1200px) {
  .fieldset--introduction {
    padding-bottom: 50px;
    padding-left: 79px; }
  .fieldset--contacts {
    display: inline-block;
    padding-bottom: 10px; }
  .fieldset--attractions {
    margin: auto;
    padding: 0 0 5px; }
  .fieldset--message {
    padding-bottom: 55px; }
  .fieldset__list--contacts, .fieldset__list--attractions {
    display: flex;
    justify-content: space-between; }
  .fieldset__name--contacts {
    margin-bottom: 65px; }
  .fieldset__label--contacts {
    display: inline-block; }
    .fieldset__label--contacts:not(:last-of-type) {
      margin-right: 80px; }
    .fieldset__label--contacts .fieldset__label-phone {
      display: none; }
  .fieldset__input--phone, .fieldset__input--email {
    width: 315px; } }

.gallery {
  padding-bottom: 33px; }

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 767px) {
  .gallery {
    padding: 0 20px; }
  .gallery__item {
    position: relative;
    padding: 22px 0 15px; }
    .gallery__item::before, .gallery__item:last-of-type::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 320px;
      height: 1px;
      background-color: #e5e5e5; }
    .gallery__item::before {
      top: 0; }
    .gallery__item:last-of-type::after {
      bottom: 0; } }

@media (min-width: 768px) {
  .gallery {
    padding: 0 60px; }
  .gallery__list {
    display: grid;
    grid-template-columns: 324px 324px; }
  .gallery__item--main {
    grid-column: 1 / -1; } }

@media (min-width: 1200px) {
  .gallery {
    padding: 0; }
  .gallery__list {
    grid-template-columns: 400px 400px 400px; } }

.card__pic {
  margin-bottom: 4px; }

.card__folder {
  text-align: left; }

.card__description {
  margin-bottom: 10px; }

.card__caption {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px; }

.card__author {
  margin: 0;
  text-transform: none; }

.card__likes {
  display: flex;
  align-items: baseline; }

.card__like {
  display: inline-block;
  width: 23px;
  height: 21px;
  fill: #000000;
  opacity: 0.3; }

.card__number {
  margin: 0;
  padding-left: 14px;
  font-weight: 700; }

@media (min-width: 768px) {
  .card__folder {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px;
    background-color: #f2f2f2;
    box-sizing: border-box; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .card:nth-of-type(3) .card__folder {
    background-color: #eaeaea; } }

@media (min-width: 768px) {
  .card__pic {
    display: block;
    width: 324px;
    height: 267px;
    margin: 0;
    -o-object-fit: cover;
       object-fit: cover; }
    .card__pic--main {
      width: 100%;
      height: 400px; }
  .card__likes {
    align-self: center; } }

@media (min-width: 1200px) {
  .card {
    position: relative; }
  .card__folder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3); }
  .card__pic {
    width: 400px; }
    .card__pic--main {
      width: 100%; }
  .card__like {
    opacity: 1;
    fill: #ffffff; } }

.video {
  padding-top: 32px; }

.video__heading {
  width: 266px;
  margin: 0 auto; }

.video__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px; }

.video__intro {
  line-height: 23px;
  margin-bottom: 33px; }

.video__clip {
  width: 320px;
  height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat; }

@media (max-width: 767px) {
  .video__controlls {
    position: relative;
    bottom: 52px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 111px;
    background-image: linear-gradient(to top, #f2f2f2 60%, rgba(0, 0, 0, 0.6) 40%); } }

.video__scale {
  position: relative;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 65px; }
  .video__scale::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 56px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1; }

.video__button {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none; }
  .video__button--replay {
    margin-right: 133px; }
  .video__button--subtitles {
    margin-right: 31px; }

.video__icon {
  fill: #5c6870; }
  .video__icon--replay {
    width: 16px;
    height: 20px; }
  .video__icon--subtitles {
    width: 32px;
    height: 20px; }
  .video__icon--fullscreen {
    width: 20px;
    height: 20px; }
  .video__icon:hover, .video__icon:focus {
    fill: #333333; }
  .video__icon:active {
    fill: rgba(51, 51, 51, 0.3); }

@media (min-width: 768px) {
  .video {
    padding-top: 59px;
    margin-bottom: -62px; }
  .video__heading {
    width: 445px;
    margin: 0 auto; }
  .video__title {
    margin-bottom: 35px;
    font-size: 30px; }
  .video__intro {
    margin-bottom: 68px; }
  .video__clip {
    width: 648px;
    height: 500px;
    background-image: url("../img/video-tablet@1x.jpg"); }
  .video__controlls {
    display: flex;
    position: relative;
    align-items: center;
    bottom: 102px;
    left: 50%;
    transform: translateX(-50%);
    width: 648px;
    height: 93px;
    padding: 0 35px;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box; }
  .video__scale {
    top: auto;
    left: auto;
    transform: none;
    width: 389px;
    margin: 0;
    margin-right: 42px;
    order: 2; }
  .video__button {
    margin: 0; }
    .video__button--replay {
      margin-right: 42px; }
    .video__button--subtitles {
      order: 3;
      margin-right: 31px; }
    .video__button--fullscreen {
      order: 4; }
  .video__icon {
    fill: #ffffff; }
    .video__icon:hover, .video__icon:focus {
      fill: rgba(255, 255, 255, 0.6); }
    .video__icon:active {
      fill: rgba(255, 255, 255, 0.3); } }

@media (min-width: 1200px) {
  .video {
    padding-top: 63px; }
  .video__intro {
    margin-bottom: 66px; }
  .video__clip {
    width: 800px;
    background-image: url("../img/video-desktop@1x.jpg"); }
  .video__controlls {
    width: 800px; }
  .video__scale {
    width: 540px; } }

.page-footer {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 26px; }

.page-footer__intro {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 33px;
  color: #000000; }

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 55px; }
  .page-footer__intro {
    align-self: center;
    margin: 0; } }

@media (min-width: 1200px) {
  .page-footer {
    padding: 36px 120px; } }

.social {
  margin-bottom: 34px; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.social__item {
  position: relative;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  cursor: pointer; }
  .social__item:not(:last-of-type) {
    margin-right: 6px; }
  .social__item::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat; }
  .social__item:hover, .social__item:focus {
    background-color: #669ec0; }
  .social__item:active {
    background-color: #5496bd; }
    .social__item:active::before {
      opacity: 0.3; }
  .social__item--twitter::before {
    width: 18px;
    height: 15px;
    background-image: url("../img/twitter.svg"); }
  .social__item--facebook::before {
    width: 9px;
    height: 19px;
    background-image: url("../img/facebook.svg"); }
  .social__item--youtube::before {
    width: 20px;
    height: 14px;
    background-image: url("../img/youtube.svg"); }

@media (min-width: 768px) {
  .social {
    display: flex;
    margin: 0; } }

@media (min-width: 1200px) {
  .social {
    display: flex;
    margin: 0; } }

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; }

.copyright__text {
  margin: 0;
  margin-right: 10px; }

.copyright__logo {
  width: 40px;
  height: 40px;
  margin-top: 7px;
  fill: #000000; }
  .copyright__logo:hover, .copyright__logo:focus {
    fill: #81b3d2; }
  .copyright__logo:active {
    fill: #000000;
    opacity: 0.3; }

/*# sourceMappingURL=style.css.map */
