a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: $mobile-width-container;
}

*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-width-container;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
