@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin blue-white-mix {
  color: $basic-white;
  background-color: $basic-light-blue;
}

@mixin bold-font-style {
  font-size: 21px;
  font-weight: 700;
}

@mixin heading-font-style {
  font-size: 18px;
  font-weight: 700;
}
