$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #333333;
$basic-dark-grey: #5C6870;
$basic-light-blue: #81B3D2;
$basic-blue: #669EC0;
$basic-dark-blue: #5496BD;
$basic-light: #F2F2F2;
$basic-light-grey: #E5E5E5;
$basic-grey: #D5D5D5;
$special-grey: #766357;
$special-dark-grey: #604E43;

$body-font-family: "PT Sans", "Arial", sans-serif;

$mobile-width: 520px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-container: 540px;
$tablet-width-container: 890px;
$desktop-width-container: 1220px;
