$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #333333;
$basic-dark-grey: #5c6870;
$basic-light-blue: #81b3d2;
$basic-blue: #669ec0;
$basic-dark-blue: #5496bd;
$basic-light: #f2f2f2;
$basic-light-grey: #e5e5e5;
$basic-grey: #d5d5d5;
$special-grey: #766357;
$special-dark-grey: #604e43;

$body-font-family: "PT Sans", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-container: 540px;
$tablet-width-container: 890px;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1199px;
